<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <script src='accountFinder.js'></script>
        
        <table id="savingAccountsTb">
            <tbody>
                <tr>
                    <th>Rank Number</th>
                    <th>Account Name</th>
                    <th>Variable Interest Rate p.a.</th>
                    <th>Base Interest Rate p.a.</th>
                    <th>Account Fees per month</th>
                    <th>Minimum Opening Deposit</th>
                    <th>URL</th>
                    <!-- for mouse over text -->
                    <th></th>
                </tr>
            </tbody>
        </table>
    </body>
</html>